<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito - ReTicket</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    {{> header}}

    <div class="content">
        <h1 id="title">Carrito de la compra</h1>
        <div class="carrito-container">
            <!-- 
            - cardItem:
                - id
                - event:
                    - name
                    - date
                    - location
                    - imageURL
                    - venue
                    - description;
                    - imageURL;
                    - altImage;
                    - currenNumberOfTickets;
                - quantity
            -->
            <!-- Te paso el atributo totalPrice que contiene el precio total de todo el carrito-->
            <!-- Tienes que añadir un event.price x quantity, rollo que en un cart Item salga 60 x 6 que sería el precio por ticket -->
            {{#cartItems}}
            <div class="card-item">
                <div class="card-item-image">
                    <img src="{{event.imageURL}}" alt="{{event.altImage}}" height="200" width="200" style="object-fit: cover;">
                </div>
                <div class="card-item-info">
                    <h2>{{event.name}}</h2>
                    <p>{{event.description}}</p>
                    <div style="display: flex; flex-direction: row; gap: 40px; justify-content: center;">
                        <div style="display: flex; flex-direction: row; align-items: center; gap: 10px; justify-content: center;">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>{{event.location}}</p>
                            <p>{{event.venue}}</p>
                        </div>
                        <p>{{event.date}}</p>
                    </div>
                    <!-- <p> precio: ${event.price}</p> -->
                </div>
                <div class="card-item-actions">
                    <div style="display: flex; flex-direction: row; align-items: center; gap: 10px; justify-content: center;">
                        <p>Entradas: <button data-q="{{quantity}}" data-i="{{id}}" class="less-button">-</button> {{quantity}} <button data-q="{{quantity}}" data-i="{{id}}" class="add-button">+</button></p>
                        
                    </div>
                    <button key="{{id}}" class="remove-button"><i class="fa fa-trash"></i></button>
                </div>
            </div>
            {{/cartItems}}
            {{^cartItems}}
            <div class="no-results">
                <h3>Tu carrito está vacío</h3>
                <p>Cuando compres algún ticket aparecerán aquí</p>
            </div>
            {{/cartItems}}
        </div>
        <div class="total-price-container" style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
            <h2>Total: ${totalPrice}</h2>
            <button class="checkout-button">Pagar</button>
        </div>
    </div>

    {{> footer}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/feedBackAlert.js" type="module"></script>
    <script src="/js/cartOperations.js" type="module"></script>
</body>
</html>