<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/eventsPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    {{> header}}

    <div id="events-page">
        <div id="side-panel">
            <br>
            <br>
            <br>
            <h2>Filtros</h2>
            <div class="filter-group">
                <h3>Fecha</h3>
                <input type="date" id="start-date" name="start-date">
                <input type="date" id="end-date" name="end-date">
            </div>
            <div class="filter-group">
                <h3>Ubicación</h3>
                <input type="text" id="location" name="location" placeholder="Ciudad, Estado...">
            </div>
            <div class="filter-group">
                <h3>Tipo de Evento</h3>
                <select id="event-type" name="event-type">
                    <option value="">Todos</option>
                    <option value="concierto">Concierto</option>
                    <option value="teatro">Teatro</option>
                    <option value="deporte">Deporte</option>
                    <!-- Agregar más tipos de eventos según sea necesario -->
                </select>
            </div>
            <button id="apply-filters" onclick=" ">Aplicar Filtros</button>
        </div>

        <div id="event-list">
            <br>
            <br>
            <br>
            <br>
            <!-- Event:
                name: string
                date: LocalDateTime
                location: string
                description: string
                image: string (path to the image)
                organizer: string (name of the organizer) 
            -->
            {{#events}}
            <div class="event">
                <img src="{{imageURL}}" alt="{{altImage}}" class="evento-imagen">
                <div class="event-info">
                    <h3 class="title-event">{{name}}</h3>
                    <p class="description-event">{{description}}</p>
                    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                        <p class="date-event">{{date}}</p>
                        <p class="location-event">{{venue}}, {{location}}</p>
                    </div>
                    <button class="buy-button-event">Comprar</button>
                </div>
            </div>
            {{/events}}
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>