<footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Sobre ReTicket</h3>
                
                <p>La plataforma líder de venta de entradas para eventos en España.</p>
                <p>Compra segura de entradas para conciertos, festivales, teatro y eventos deportivos.</p>
            </div>
            
            <div class="footer-section">
                <h3>Contacto</h3>
                <p>Email: info@reticket.com</p>
                <p>Teléfono: +34 910 123 456</p>
                <p>Dirección: Calle Lleida 1, 28013, Madrid</p>
            </div>
            
            <div class="footer-section">
                <h3>Horario de Atención</h3>
                <p>Lunes a Viernes: 9:00 - 20:00</p>
                <p>Sábados: 10:00 - 15:00</p>
                <p>Domingos: Cerrado</p>
            </div>
            
            <div class="footer-section">
                <h3>Síguenos</h3>
                
                <div class="social-icons">
                    <a href="https://www.facebook.com/" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="https://x.com" class="social-icon"><i class="fab fa-x-twitter"></i></a>
                    <a href="https://github.com/Jjoaquin04/reticket" class="social-icon"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            &copy; 2025 ReTicket - Todos los derechos reservados. Diseñado por Script Kiddies.
        </div>
    </footer>



