<header>
    <div class="div-left">
        <h1><a id="home" href="http://localhost:8080/">ReTicket</a></h1>
        <nav class="main-nav">
            <ul>
                <li class="dropdown">
                    <a href="/events" class="dropbtn">Events</a>
                    <div class="dropdown-content">
                        <a href="/events?eventType=CONCERT">Conciertos</a>
                        <a href="/events?eventType=FESTIVAL">Festivales</a>
                        <a href="/events?eventType=SPORTS">Deportes</a>
                        <a href="/events?eventType=THEATER">Teatros</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="div-center">
        <form action="/search" method="get">
            <div class="search-container">
                <input class="input-text" type="text" placeholder="Busca un artista, evento o recinto" name="q">
                <button type="submit" class="search-button">
                    <img src="/img/icons/lupa.webp" alt="Buscar" width="20px" height="20px">
                </button>
            </div>
        </form>
    </div>
    <div class="div-right">
        <div id = "carrito">
            <a href="">
                <img src="/img/icons/carrito.webp" alt="Carrito de compras" height="35px">
            </a>
            <p>Carrito</p>
        </div>
        <div id = "perfil">
            <a href="">
                <img src="/img/icons/usuario.webp" alt="Perfil de usuario" height="35px">
            </a>
            <p>Cuenta</p>
        </div>
    </div>
</header>