<header>
    <div class="div-left">
        <h1><a id="home" href="/home">ReTicket</a></h1>
        <nav class="main-nav">
            <ul>
                <li class="dropdown">
                    <a href="/events" class="dropbtn">Events</a>
                    <div class="dropdown-content">
                        <a href="/events?eventType=CONCERT">Conciertos</a>
                        <a href="/events?eventType=FESTIVAL">Festivales</a>
                        <a href="/events?eventType=SPORTS">Deportes</a>
                        <a href="/events?eventType=THEATER">Teatros</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="div-center">
        <form action="/events" method="get">
            <div class="search-container">
                <input class="input-text" id="input-text" type="text" placeholder="Busca un evento, localidad o recinto" name="searchString">
                <button type="submit" class="search-button">
                    <img src="/img/icons/lupa.webp" alt="Buscar" width="20px" height="20px">
                </button>
            </div>
        </form>
    </div>
    <div class="div-right">
        <div id="perfil" style="position: relative;">
            <nav class="profile-nav">
                <ul>
                    <li class="dropdown-profile">
                        <img src="/img/icons/usuario.webp" alt="Perfil de usuario" height="35px">
                        <p>Cuenta</p>
                        <div class="dropdown-content-profile">
                            <a href="/acounts/profile">Perfil</a>
                            <a href="/acounts/myTickets">Mis tickets</a>
                            <a href="/acounts/myEvents">Mis eventos</a>
                            <a href="/acounts/newEvent">Nuevo evento</a>
                            <a href="#" id="logout-link">Cerrar sesión</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/logout.js"></script>