<header>
    <div class="div-left">
        <h1><a id="home" href="http://localhost:8080/">ReTicket</a></h1>
        <nav class="main-nav">
            <ul>
                <li class="dropdown">
                    <a href="/events" class="dropbtn">Events</a>
                    <div class="dropdown-content">
                        <a href="/events?eventType=CONCERT">Conciertos</a>
                        <a href="/events?eventType=FESTIVAL">Festivales</a>
                        <a href="/events?eventType=SPORTS">Deportes</a>
                        <a href="/events?eventType=THEATER">Teatros</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="div-center">
        <form action="/events" method="get">
            <div class="search-container">
                <input class="input-text" id="input-text" type="text" placeholder="Busca un evento, localidad o recinto" name="searchString">
                <button type="submit" class="search-button">
                    <img src="/img/icons/lupa.webp" alt="Buscar" width="20px" height="20px">
                </button>
            </div>
        </form>
    </div>
    <div class="div-right">
        <div id="carrito" style="position: relative;">
            <a href="javascript:void(0);">
                <img src="/img/icons/cart.webp" alt="Carrito de compras" height="35px">
                <span id="cart-count">0</span>
            </a>
            <p>Carrito</p>
            <!-- Menú desplegable del carrito -->
            <div id="cart-menu">
                <div class="cart-header">
                    <h3>Tu carrito</h3>
                </div>
                <div id="cart-items">
                    <!-- Los items del carrito se cargarán dinámicamente -->
                </div>
                <div class="cart-total">
                    <span>Total:</span>
                    <span id="cart-total">0.00 €</span>
                </div>
                <div class="cart-footer">
                    <button id="checkout-button">Finalizar compra</button>
                </div>
            </div>
        </div>
        <div id="perfil" style="position: relative;">
            <nav class="profile-nav">
                <ul>
                    <li class="dropdown-profile">
                        <img src="/img/icons/usuario.webp" alt="Perfil de usuario" height="35px">
                        <p>Perfil</p>
                        <div class="dropdown-content-profile">
                            <a href="/acounts/profile">Perfil</a>
                            <a href="/acounts/myTickets">Mis pedidos</a>
                            <a href="/acounts/myEvents">Mis eventos</a>
                            <a href="/acounts/newEvent">Nuevo evento</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <script>
        // Función para mostrar/ocultar el menú del perfil
        document.getElementById('perfil').addEventListener('click', function() {
            var profileMenu = document.getElementById('profile-menu');
            profileMenu.style.display = (profileMenu.style.display === 'block') ? 'none' : 'block';
        });

        //si se hace click fuera del menú del perfil, se cierra el menú
        window.addEventListener('click', function(event) {
            var profileMenu = document.getElementById('profile-menu');
            if (!event.target.closest('#perfil') && !event.target.closest('#profile-menu')) {
                profileMenu.style.display = 'none';
            }
        });
    </script>
</header>