<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReTicket</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/mainPage.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    {{> header}}
    <div class="image-slider">
        <button class="next-btn" onclick="changeImage(1)">❯</button>
        <button class="prev-btn" onclick="changeImage(-1)">❮</button>
        <img id="slide-image" alt="Imagenes">
    </div>

    <div class="events">
        <hr>
        <h2>Los más recomendados</h2>
        <div class="recommended-events">
            <!-- Event:
                name: string
                date: LocalDateTime
                location: string
                description: string
                image: string (path to the image)
                organizer: string (name of the organizer) 
            -->
            {{#mainEvents}}
            <div class="event" data-event-id="{{id}}">
                <img src="{{imageURL}}" alt="{{altImage}}" class="evento-imagen">
                <h3 class="title-event">{{name}}</h3>
                <p class="description-event">{{description}}</p>
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                    <p class="date-event">{{date}}</p>
                    <p class="location-event">{{venue}}, {{location}}</p>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                    <p class="tickets-info">{{currenNumberOfTickets}} tickets disponibles</p>
                    <button class="buy-button-event" {{^currenNumberOfTickets}}disabled{{/currenNumberOfTickets}}>
                        {{#currenNumberOfTickets}}Añadir al carrito{{/currenNumberOfTickets}}
                        {{^currenNumberOfTickets}}Agotado{{/currenNumberOfTickets}}
                    </button>
                </div>
            </div>
            {{/mainEvents}}
        </div>
    </div>
    {{> footer}}
    
    <script src="/js/main.js"></script>
    <script src="/js/imageChange.js"></script>
    <script src="/js/cart.js"></script>
</body>
</html>