<!-- This HTML is for creating the profile -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/profilePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
 </head>
 <body>
    {{> header}}
    {{#users}}
    <div id="profile-container">
        <h1>Perfil</h1>
        <form id="profile-form" data-user-id="{{id}}">

            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" name="username" value="{{username}}" required><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{email}}" required><br><br>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" value="{{password}}" required><br><br>

            <button type="submit">Guardar Cambios</button>
        </form>
    </div>
    {{/users}}
    
    {{> footer}}
    <script src="/js/profile.js"></script>
 </body>
 </html>